/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
	margin: 0;

}

.header {
	background-color: #cfe5ef;
}

.container {
	max-width: 1250px;
	margin-left: auto;
	margin-right: auto;
}

.header__content {
	height: 150px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.header__content li {
	padding: 0 20px;
	width: 120px;
}

.header__logo {
	margin-right: 20px;
}


.header__menu li {
	list-style: none;



}

.header__menu a {
	text-decoration: none;
	color: #000;
}

.header__menu--item {
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	font-weight: 700;

	
}

.header__menu--item:nth-child(-n+2) {
border-right: 2px solid black;
}

.header__submenu {
	display: none;
	background-color: #fff;
	padding: 0 20px 0 10px;
	position: absolute;
	top: 100%;
	left: 0;
	white-space: nowrap;
	text-transform: lowercase;
	font-weight: 500;
	text-align: left;
}

.header__menu--item:hover {
	background-color: #fff;
	transition: 0.3s;
}

.header__menu--item:hover .header__submenu {
	display: block;
}

.header__submenu li:hover {
	background-color: rgba(240,240,240,0.3);
	transition: 0.3s;
}

.header__button {
	margin-left: auto;
	padding: 15px 35px;
	text-transform: uppercase;
	cursor: pointer;
}

.content {

	width: 1250px;
	margin-left: auto;
	margin-right: auto;
}

.decor {
	height: 80px;
	background-color: gray;
	outline: 1px solid blue;
}