/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; color:#333;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #cfe5ef;
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.header__content {
    height: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__content li {
    padding: 0 20px;
}



.header__logo a {
    background: url(../img/Group2.png) no-repeat;
    width: 197px;
    height: 64px;
    margin-right: 20px;
    display: block;
}

.header__logo a:hover {
    background: url(../img/hoverlogo.png) no-repeat;
    transition: 0.3s;
}

.header__logo a:active {
    background: url(../img/activelogo.png) no-repeat;
}

.header__menu--item {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    position: relative;
}


.header__menu--item-with-sub:hover {
    background-color: white;
}

.header__menu--item:nth-child(n):after {
    content: "|";
    position: absolute;
    right: -3px;
    bottom: 2px;
}

.header__menu--item:last-child:after {
	content: "";
}

.header__menu--item-with-sub {
    margin: 0 -2px;
}

.header__submenu {
    display: none;
    background-color: #fff;
    border-radius: 5%;
    border-top-left-radius: 0;
    padding: 5px 30px 0 0;
    position: absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;
    text-transform: lowercase;
    font-weight: 500;
    text-align: left;
    line-height: 30px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.header__menu--link:hover {
    color: #52359d;
    text-decoration: underline;

}

.header__menu--link:active {
    text-decoration: underline;
    color: #333;
}


.header__menu--item:hover .header__submenu {
    display: block;
}


.header__button {
    margin-left: auto;
    padding: 15px 35px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
}

.header__button:hover {
    background: #52359d;
    color: #fff;
}

.header__button:active {
    background: #333;
    color: #999;
}

.content {

    width: 1250px;
    margin-left: auto;
    margin-right: auto;

}

.decor {
    height: 80px;
    background-color: #e2e2e2;
    border: 1px solid #9f9f9f;
}

.underline {
    width: 220px;
    background-color: #c3c3c3;
    height: 5px;
    margin: 15px 0 35px;
}

.content__heading {
    font-size: 24px;
    font-weight: 700;
    margin-top: 75px;
}

.content__reviews {
    display: flex;
}

.content__reviews--foto {
    margin-right: 30px;
}

.content__reviews--data {}

.content__reviews--dataname {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 35px 40px 0;
}

.content__reviews--datadate {
    display: inline-block;
    color: #797979;
}

.content__reviews--datadate:before {
    content: url(../img/calendar.png);
    position: relative;
    top: 3px;
    right: 3px;
}

.content__reviews--datatext {
    font-size: 16px;
    color: #797979;
    line-height: 20px;
}

.reviews-separator {
    height: 1px;
    background-color: #c6c6c6;
    margin: 30px 0;
}

.gallery-heading {
    text-align: center;
    margin-top: 100px;
}

.gallery-underline {
    margin-left: auto;
    margin-right: auto;
}

.gallery__content--foto {
    width: 278px;
    height: 278px;
    border: 1px solid #e2e2e2;
    text-align: center;
}

.gallery__content {
    position: relative;
}

.gallery__content--foto img {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.gallery__content--foto:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: 268px;
    left: 0;

}

.gallery__content--foto:after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    background-color: white;
    position: absolute;
    bottom: 341px;
    left: 269px;
}

.gallery__content--description {
    font-size: 12.27px;
    margin: 22px 0 20px 8px;
    line-height: 15px;
}

.gallery-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input__text {
    border: 1px solid #e2e2e2;
    padding: 15px;
    width: 300px;
}

.input__focus:focus {
    background-color: #e9f8ff;
}

.input-shell {
    position: relative;
}

.text-lock {
    background-image: url(../img/lock.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 33px;
    left: 15px;
}

.input__focus--lock {
    padding-left: 40px;
}

.input__focus--lock:focus~.text-lock {
    background-image: url(../img/lockpurple.png);
}

.input__select {
    border: 1px solid #e2e2e2;
    padding: 13px 15px 15px;
    width: 300px;
    height: 48px;
}

.select {
    position: relative;
}

.select-icon {
    background-image: url(../img/phone-call.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 33px;
    left: 13px;
}

.input__select--phone {
    padding-left: 40px;
}

.input__select--phone:focus~.select-icon {
    background-image: url(../img/phone-callpurple.png);
}

.select-pointer {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid #9fa8b0;
    border-top: none;
    border-right: none;
    top: 36px;
    left: 271px;
    transform: rotate(-45deg);
}

.input__checkbox {
    visibility: hidden;
    margin-right: 14px;
}

.checkbox {
    position: relative;
    font-size: 13px;
    display: inline-block;
    margin: 15px 10px 15px 0;
}

.checkbox__heading,
.radio__heading,
.input-text__heading {
    margin-bottom: -10px;
    font-weight: 500;

}



.custom-checkbox:before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #97a1aa;
    border-radius: 25%;
    top: -4px;
    left: 0;

}

.custom-checkbox:after {
    content: "";
    display: none;
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #52359d;
    top: 1px;
    left: 5px;
}

.input__checkbox:checked~.custom-checkbox:after {
    display: block;
}

.input__checkbox:checked~.custom-checkbox {
    color: #52359d;
}


.input__radio {
    visibility: hidden;
    margin-right: 14px;
}

.radio {
    position: relative;
    font-size: 13px;
    display: inline-block;
    margin: 15px 10px 15px 0;
}

.custom-radio:before {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    border: 1px solid #97a1aa;
    border-radius: 50%;
    top: -4px;
    left: 0;

}

.custom-radio:after {
    content: "";
    display: none;
    position: absolute;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background-color: #52359d;
    top: 1px;
    left: 5px;
}

.input__radio:checked~.custom-radio:after {
    display: block;
}

.input__radio:checked~.custom-radio {
    color: #52359d;
}

.textarea {
    position: relative;
}

.textarea__heading {
    margin: 20px 0 15px;
    font-weight: 500;
}

.input__textarea {
    border: 1px solid #e2e2e2;
    width: 615px;
    height: 170px;
    resize: none;
    overflow: auto;
    padding: 15px;
}

.textarea-icon {
    padding-left: 45px;
}

.input__textarea-icon {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/chat.png);
    background-repeat: no-repeat;
    top: 63px;
    left: 16px;
}

.textarea-icon:focus~.input__textarea-icon {
    background-image: url(../img/chatpurple.png);
}

.button {
    padding: 15px 24px;
    margin: 20px 20px 20px 0;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    background: #fff;
    border: 1px solid #97a1aa;
}

.button:active {
    background-color: #999;
    color: #fff;
}

.file {
    position: relative;
    display: inline-block;
}

.input__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.custom-inputfile {
    padding: 15px 24px 15px 40px;
    margin: 20px 20px 0 0;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    background: #fff;
    border: 1px solid #97a1aa;
}

.custom-inputfile:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../img/upload.png);
    background-repeat: no-repeat;
    top: -6px;
    left: 15px;
}

.input-row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.input-row1 p {
    margin-bottom: 7px;
}

.input-row2 {
    display: flex;
}

.input-row2__checkbox {
    width: 50%;
}

.input-row2__radio {
    padding-left: 10px;
}

.input-row3 {
    display: flex;
    justify-content: space-between;
}